doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title BRICK
    
    script(src="https://www.gstatic.com/firebasejs/5.11.1/firebase-app.js")
    script(src="https://www.gstatic.com/firebasejs/5.11.1/firebase-database.js")
  body
    canvas(id="brick-world-canvas-grid" width="800" height="600")
    canvas(id="brick-world-canvas" width="800" height="600")
    div(id="controls")
    div(id="clock")
      div
      div
        button(id="control-play") Play
        button(id="control-pause") Pause
    a(id="source" href='https://gitlab.com/nesbittj/brick') Source code
    if process.env.NODE_ENV === 'development'
      div(id="debug")