html,
body {
    margin: 0px;
    padding: 0px;
    /* cursor: none; */
    background-color: #07212b;
    font-family: sans-serif;
}

div {
    padding: 10px;
}

canvas {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: absolute;
    left: 0;
    right: 0;
}

#controls {
    position: absolute;
    background-color: gray;
    left: 0;
    top: 0;
}

#controls ul {
    margin: 0px;
    padding: 0px;
}

#controls li {
    display: inline-block;
    width: 6vw;
}

#controls div {
    background-color: white;
    text-align: center;
    padding: 1vw;
}

#clock {
    position: absolute;
    background-color: gray;
    right: 0;
    top: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#clock div {
    background-color: white;
    text-align: center;
    /* width: 187px;
    width: 100%; */
    grid-column: 1/3;
    grid-row: 2;
    padding: 0px 10px;
}

#clock div div {
    display: inline;
}

#clock>div:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1;
    padding: 10px;
}

#source {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
    background-color: white;
    color: black;
}

button {
    padding: 10px 30px;
    border: none;
    background-color: #c7c7c7;
    margin: 5px 2px;
}

button:hover {
    background-color: #07212b;
    color: white
}

button:active {
    background-color: #17485a;
    color: white
}

#debug {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
    background-color: white;
    color: black;
}